@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Playwrite+VN:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    height: 12vh;
    width: 100%;
}

/*navbar dark below*/
.navbar-dark{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(1, 1, 1);
    height: 12vh;
    width: 100%;
}

#main-title{
    font-size: 28px;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
}


/* p dark below*/
.dark-para{
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
}


a{
    text-decoration: none;
    color: inherit;
}

.hero{
    display: flex;
    justify-content: center;
    background-color: beige;
    height: 76vh;
    width: 100%;

}

/* hero section dark below*/
.hero-dark{
    display: flex;
    justify-content: center;
    background-color: rgb(52, 52, 50);
    height: 76vh;
    width: 100%;
}

.container{
    /* padding-top: 20px; */
    /* margin-top: 20px; */
    background-color: white;
    height: 100%;
    width: 550px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

/*container dark below*/
.container-dark{
    background-color: rgb(74, 66, 66);
    height: 100%;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer{
    width: 100%;
    height: 12vh;
    background-color: bisque;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 55px;
}

.button{
    width: 100px;
    height: 35px;
    border-radius: 8px;
    color: blue;
    background-color: rgb(178, 255, 255);
    margin-top: 20px;
    border-width: 0px;
    font-size: 15px;
}

.button:hover{
    background-color: rgb(41, 41, 247);
    color: white;
}

/* buttons dark below*/
.button-dark{
    color: white;
    background-color: rgb(60, 54, 54);
    width: 100px;
    height: 35px;
    border-radius: 8px;
    margin-top: 20px;
    border-width: 0px;
    font-size: 15px;
}

.button-dark:hover {
    background-color: rgb(60, 54, 54);
}



.taskarea{
    background-color: rgb(252, 252, 225);
    width: 90%;
    margin-top: 20px;
    height: 83%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    border-radius: 20px;
}

/* task area dark below*/
.taskarea-dark{
    background-color: rgb(61, 61, 55);
    width: 90%;
    margin-top: 20px;
    height: 83%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    border-radius: 20px;
}

.tasklist{
    list-style-type: none;
    margin: 0;
    padding-top: 8px;
}

.taskitem{
    font-family:'Poppins', sans-serif;
    font-size: 17px;
    cursor: pointer;
    color: black;
}

/* task item dark below*/
.taskitem-dark{
    font-family:'Poppins', sans-serif;
    font-size: 17px;
    cursor: pointer;
    color: white;
}


.taskcomp{
    color: gray;
    text-decoration: line-through;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

/* footer dark below*/
.footer-dark{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    background-color: rgb(1, 1, 1);
    color: white;
}

@media only screen and (max-width: 600px){
    /* .navbar{
        background-color: rgb(0, 0, 0);
    } */

    p{
        /* color: white; */
        font-size: 35px;
    }

    .buttons{
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        gap: 25px;
    }

    .button{
        width: 100px;
        height: 35px;
        border-radius: 8px;
        color: blue;
        background-color: rgb(178, 255, 255);
        margin-top: 20px;
        border-width: 0px;
        font-size: 15px;
    }

    .button-dark{
        color: white;
        background-color: rgb(60, 54, 54);

    .taskarea{
        background-color: rgb(252, 252, 225);
        color: black;
    }

    .taskarea-dark{
        background-color: rgb(61, 61, 55);
    }

    .taskitem{
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
        color: black;
    }

    /* .footer{
        background-color: rgb(0, 0, 0);
        color: white;
    } */
}